[submodule "src/JMS/AopBundle"]
	path = src/JMS/AopBundle
	url = https://github.com/schmittjoh/JMSAopBundle.git
[submodule "vendor/cg-library"]
	path = vendor/cg-library
	url = https://github.com/schmittjoh/cg-library.git
